* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}



.Novosti {
    width: 100%;
    height: 350px;
    background: linear-gradient(to bottom, white, rgba(0, 255, 255, 0.137));
    display: flex;
    align-items: start;
    gap: 40px;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    padding-left: 40px;
}

.Novosti>img {
    width: 100%;
    height: 74.2%;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
}


.Novosti p {
    font-size: 55px;
    color: rgb(7, 71, 134);
}

.glavniy {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.glavniy>a {
    font-size: 20px;
}

.glavniy>p {
    color: rgb(7, 71, 134);
}

.NovostiContenier {
    width: 100%;
    height: 120vh;
    background: rgb(250, 250, 250);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}



.NovostiMalumot1 {
    width: 250px;
    height: 560px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}




.NovostiYozuv {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
}


.NovostiYozuv>e {
    color: rgba(0, 0, 0, 0.644);
}



.NovostiYozuv>p {
    color: rgba(0, 0, 0, 0.644);
    font-size: 18px;
}


.NovostiYozuv>b {
    color: rgb(0, 28, 119);
    font-size: 20px;
}



.Img1 {
    width: 250px;
    height: 250px;
    background: none;
}


.Img1>img {
    width: 100%;
    height: 100%;
}



.NovostiMalumot2 {
    width: 250px;
    height: 560px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}


.NovostiYozuv>e {
    color: rgba(0, 0, 0, 0.644);
}



.NovostiYozuv>p {
    color: rgba(0, 0, 0, 0.644);
    font-size: 18px;
}


.NovostiYozuv>b {
    color: rgb(0, 28, 119);
    font-size: 20px;
}



.Img2 {
    width: 250px;
    height: 250px;
    background: none;
}


.Img2>img {
    width: 100%;
    height: 100%;
}

.NovostiMalumot3 {
    width: 250px;
    height: 560px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}



.NovostiYozuv>e {
    color: rgba(0, 0, 0, 0.644);
}



.NovostiYozuv>p {
    color: rgba(0, 0, 0, 0.644);
    font-size: 18px;
}


.NovostiYozuv>b {
    color: rgb(0, 28, 119);
    font-size: 20px;
}



.Img3 {
    width: 250px;
    height: 250px;
    background: none;
}


.Img3>img {
    width: 100%;
    height: 100%;
}


.Img3 {
    width: 250px;
    height: 250px;
    background: none;
}



.NovostiMalumot4 {
    width: 250px;
    height: 560px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}


.Img4 {
    width: 250px;
    height: 250px;
    background: none;
}

.NovostiYozuv>e {
    color: rgba(0, 0, 0, 0.644);
}



.NovostiYozuv>p {
    color: rgba(0, 0, 0, 0.644);
    font-size: 18px;
}


.NovostiYozuv>b {
    color: rgb(0, 28, 119);
    font-size: 20px;
}



.Img4 {
    width: 250px;
    height: 250px;
    background: none;
}


.Img4>img {
    width: 100%;
    height: 100%;
}



.NovostiMalumot5 {
    width: 250px;
    height: 560px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}


.NovostiYozuv>e {
    color: rgba(0, 0, 0, 0.644);
}



.NovostiYozuv>p {
    color: rgba(0, 0, 0, 0.644);
    font-size: 18px;
}


.NovostiYozuv>b {
    color: rgb(0, 28, 119);
    font-size: 20px;
}



.Img5 {
    width: 250px;
    height: 250px;
    background: none;
}


.Img5>img {
    width: 100%;
    height: 100%;
}


.Img5 {
    width: 250px;
    height: 250px;
    background: none;
}



.NovostiMalumot6 {
    width: 250px;
    height: 560px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}


.NovostiYozuv>e {
    color: rgba(0, 0, 0, 0.644);
}



.NovostiYozuv>p {
    color: rgba(0, 0, 0, 0.644);
    font-size: 18px;
}


.NovostiYozuv>b {
    color: rgb(0, 28, 119);
    font-size: 20px;
}



.Img6 {
    width: 250px;
    height: 250px;
    background: none;
}


.Img6>img {
    width: 100%;
    height: 100%;
}


.Img6 {
    width: 250px;
    height: 250px;
    background: none;
}


.NovostiMalumot7 {
    width: 250px;
    height: 560px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}


.NovostiYozuv>e {
    color: rgba(0, 0, 0, 0.644);
}



.NovostiYozuv>p {
    color: rgba(0, 0, 0, 0.644);
    font-size: 18px;
}


.NovostiYozuv>b {
    color: rgb(0, 28, 119);
    font-size: 20px;
}



.Img7 {
    width: 250px;
    height: 250px;
    background: none;
}


.Img7>img {
    width: 100%;
    height: 100%;
}


.Img7 {
    width: 250px;
    height: 250px;
    background: none;
}



.NovostiMalumot8 {
    width: 250px;
    height: 560px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}


.NovostiYozuv>e {
    color: rgba(0, 0, 0, 0.644);
}



.NovostiYozuv>p {
    color: rgba(0, 0, 0, 0.644);
    font-size: 18px;
}


.NovostiYozuv>b {
    color: rgb(0, 28, 119);
    font-size: 20px;
}



.Img8 {
    width: 250px;
    height: 250px;
    background: none;
}


.Img8>img {
    width: 100%;
    height: 100%;
}