* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* -------------------------Katalog----------------------------- */

.KatalogConteiner {
    width: 100%;
    height: 100%;
}

.Katalog {
    width: 100%;
    height: 350px;
    background: linear-gradient(to bottom, white, rgba(0, 255, 255, 0.137));    
    display: flex;
    align-items: start;
    gap: 40px;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    padding-left: 40px;
    margin-bottom: 30px;
}

.Katalog>img {
    width: 100%;
    height: 470px;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
}

.Katalog>p {
    font-size: 40px;
    padding-left: 90px;
    color: rgb(7, 71, 134);
}

.Katalog>b {
    padding: 8px 0px 0px 90px;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.829);
}

.glavniy1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding-left: 90px;
}

.glavniy>a {
    font-size: 20px;
}

.glavniy>p {
    color: rgb(7, 71, 134);
    font-size: large;
}

/* -------------------------Katalog2----------------------------- */

.Katalog2{
    margin-top: 85px;
    font-size: 22px;
}

/* -------------------------Katalog3----------------------------- */

.Katalog3{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    padding-left: 70px;
    margin-top: 50px;
    color: rgb(3, 3, 87);
}

/* -------------------------Katalog4----------------------------- */

.Katalog4 {
    width: 100%;
    height: 80vh;
    padding: 30px;
    gap: 50px;
    display: flex;
    justify-content: center;
}

.Katalog4Malumot2 {
    width: 250px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    gap: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 5 9 #000;
}

.Img2>img {
    width: 100%;
    height: 100%;
}

.Katalog4>.Katalog4Yozuv {
    display: flex;
    gap: 30px;
}

/* -------------------------Katalog5----------------------------- */

.Katalog5>button{
    margin-left: 42%;
}
