* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.MalumotlarConteiner {
    width: 100%;
    height: 350px;
    background: linear-gradient(to bottom, white, rgba(0, 255, 255, 0.137));
    display: flex;
    align-items: start;
    gap: 40px;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    padding-left: 40px;
}

.MalumotlarConteiner>img {
    width: 100%;
    height: 74.2%;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
}

.MalumotlarConteiner>p {
    font-size: 55px;
    color: rgb(0, 28, 119);
}

.glavniy {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.glavniy>a {
    font-size: 20px;
}

.glavniy>p {
    color: rgb(0, 28, 119);
}

.GegrafiyaMalumot {
    width: 100%;
    height: 15vh;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.BorederY {
    width: 86%;
    height: 60px;
    background: repeat;
    display: flex;
    border: 1px solid rgb(0, 28, 119);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 28, 119);
    font-size: 26px;
    letter-spacing: 1px;
}

/* ----------Geografiya---------- */

.Geografiy {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-top: 20px;
}

.imgg {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.imgg img {
    max-width: 70%;
    height: auto;
}

.Geografiy>b {
    color: rgb(169, 8, 8);
    font-size: 40px;
    padding-top: 20px;
}

.details {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* 4 ta ustun */
    gap: 20px;
    width: 100%;
}

.detail-block {
    background: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.detail-block h2 {
    margin: 0;
    font-size: 1.5em;
    color: #003366;
}

.detail-block p {
    margin: 10px 0 0;
    font-size: 1em;
    color: #666666;
}



/* ----------Klimat---------- */

.KlimatContenier {
    width: 100%;
    height: 55vh;
    padding: 30px;
    text-align: center;
}

.KlimatContenier h2 {
    color: #0044cc;
    font-size: 2rem;
    padding-bottom: 30px;
}

.KlimatContenier p {
    padding-bottom: 20px;
}

.KlimatDetails {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.Temperature,
.Humidity {
    font-size: 1.2rem;
}

.Temperature span,
.Humidity span {
    font-size: 2rem;
    margin-right: 10px;
}
