* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


.MalumotlarConteiner {
    width: 100%;
    height: 350px;
    padding: 0 20px;
    background: repeat;
}


.MalumotlarConteiner h1 {
    letter-spacing: -2.5px;
    font-size: 3rem;
    color: #ee0303;
    margin: 0;
    max-width: 80%;
    line-height: 1.2;
    padding: 150px 100px;
}









.GegrafiyaMalumot {
    width: 100%;
    height: 15vh;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
}




.BorederY {
    width: 86%;
    height: 60px;
    background: repeat;
    display: flex;
    border: 1px solid rgb(0, 28, 119);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ee0303;
    font-size: 26px;
    letter-spacing: 1px;
}




/* ----------Geografiya---------- */

.Geografiy{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}




/* ----------Klimat---------- */

.KlimatContenier {
    width: 100%;
    height: 55vh;
    padding: 30px;
    text-align: center; 
}

.KlimatContenier h2 {
    color: #0044cc;
    font-size: 2rem;
    padding-bottom: 30px;
}

.KlimatContenier p{
    padding-bottom: 20px;
}

.KlimatDetails {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.Temperature,
.Humidity {
    font-size: 1.2rem;
}

.Temperature span,
.Humidity span {
    font-size: 2rem;
    margin-right: 10px;
}
