General styling reset * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 1s ease;
    z-index: 1000;
}

.modal-content {
    background-color: white;
    padding: 20px;
    width: 610px;
    height: 400px;
    transition: transform 1s ease;
    letter-spacing: 0.5px;
    position: relative;
}

.callH1 {
    margin-left: 15px;
    color: #130355;
}

.callP,
.callP1,
.callP2,
.callP3 {
    margin-left: 15px;
    font-size: larger;
}

.callP2 {
    margin-top: 20px;
}

.callP3 {
    margin-top: 5px;
}

.modal-close {
    position: absolute;
    top: 18px;
    left: 1161px;
    right: 0px;
    background: none;
    border: none;
    color: #000;
    font-size: 44px;
    cursor: pointer;
    transition: color 0.3s;
    color: #fff;
}

.modal-close:hover {
    color: #eee;
    border: none;
    background: none;
}

.fade-out {
    opacity: 0;
}

.error-message {
    background-color: red;
    color: #fff;
    padding: 15px;
    margin-top: 15px;
    font-size: 16px;
}

.success-message {
    color: #287928;
    font-size: 20px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.BtnInp {
    display: flex;
    gap: 20px;
    margin-left: 15px;
}

.phone-input {
    width: 80%;
    padding: 15px;
    margin-bottom: 10px;
    border: none;
    background-color: #eee;
    font-size: 20px;
}

.modal-submit {
    background-color: #b71c1c;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
}

.modal-submit:hover {
    background-color: #130355;
}
